@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

body {
    background-color: black;
}
.lights {
    background-color: rgb(103, 22, 22);
    border-radius: 10px 10px 10px 10px;
    padding: 20px;
    margin-top: 15px;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 5px 10px rgb(15, 15, 15);
    outline: 10px dotted rgb(252, 225, 120);
    text-align:center;
    
    
    
}
h1 {
    text-align: center;
    color: yellow;
    text-shadow: #fc0 1px 0 10px;
    font-size: 60px;
    

}

.lights {
    position: relative;
}
.lights::before,
.lights::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background: conic-gradient(from var(--gradient-angle),#fc0, #edd93f, rgb(255, 242, 103),#fc0, #fff);
    border-radius: inherit;
    animation: rotation 10s linear infinite;

}
.lights::after {
    filter: blur(3.5rem);
}
@keyframes rotation {
    0% { --gradient-angle: 0deg; }
    100% { --gradient-angle: 360deg; }
}
.topnav a{
    display: inline-block;
    		border-radius: 30px 30px 30px 30px;    
    		color: #E08E45;
    		font-size: 20px;
            list-style-type: none;
			font-family: Verdana, Geneva, Tahoma, sans-serif;
            margin: 0 10px;
    		padding: 10px 20px;
    		font-size: 20px;
			text-align: center;
    		background-color: #190B28;    
    		max-width:160px;
            margin-bottom: 0px;
}
h2 {
    color: #dda15e;
    text-align: center;
}
p, ul, li{
    color: #dda15e;
}
main {
    border: thick double #fc0;
    padding: 20px;
    max-width:1200px;
    width: 90%;
    margin: 0 auto;
    text-decoration:none;
    
}
.intro {
    display: flex;
    justify-content: center;
    line-height: 40px;
    font-size: 25px;
    
}
.picture {
    display: flex;
    justify-content: center;
    color: #dda15e;
}
.design {
    text-decoration:none;
    color:#E08E45
}
.assignments {
    background-color: #FAE39B;
    margin: 40px;
    border: 5px ridge rgb(86, 71, 71);
    text-align: center;
    padding: 20px;
}
.assignments nav a {
    border: 3px solid black;
    color: black;
    text-decoration:none;
    padding: 10px 20px;
    font-family:Tahoma, sans-serif;
    font-weight: 600;
}
h3 {
    color:#dda15e;
}
figcaption {
    color:#ad8455;
}
.dynamic a{
    text-decoration:none;
    color:#fc0
}

@media screen and ( min-width: 370px ) and ( max-width: 600px ) {

    #colorbox {

        background-color:red;

    }
    img {
        object-fit: scale-down;
        max-width: 100%;
    }
    .assignments nav a {
        display:block;
    }
}
a {
    text-decoration: none;
}

@media screen and ( min-width: 601px ) and ( max-width: 980px )  {

    #colorbox {

        background-color:orange;

    }

}
