<header>
    <div class="header">
        <div class="inner_header">
            <div class="logo_container">
                <img src="./images/logo.svg">
                <h1><strong>UNCC</strong> Sewing and Cosplay Guild</h1>
            </div>
            <ul class="navigation">
                <a href="./" id="button"><li>Home</li></a>
                <a href="about.html" id="button"><li>About</li></a>
                <a href="faq.html" id="button"><li>FAQ</li></a>
                <a href="events.html" id="button"><li>Events</li></a>
                <a href="contact.html" id="button"><li>Contact Us!</li></a>
            </ul>
        </div>
    </div>
</header>