<footer>
    <div class="bottomnav">
        <nav>
            <a href="../" target="_blank" >Homepage</a>
            <a href="https://github.com/Lwang55/Lwang55.github.io/tree/main/itis3135" target="_blank" >ITIS 3135 Github</a>
            <a href="https://www.freecodecamp.org/Lwang55" target="_blank" >FreeCodeCamp</a>
            <a href="https://github.com/Lwang55" target="_blank" >Github</a>
            <a href="https://Lwang55.github.io/" target="_blank" >Github.io</a>
            <a href="https://www.linkedin.com/in/luke-wang-7ba006348/" target="_blank" >LinkedIn</a>
            <a href="https://www.codecademy.com/profiles/Lwang55" target="_blank" >CodeAcademy</a>
        </nav>
    </div>
    <div class="footer">
		<p>Designed by<a href="wangwang.design" target="_blank" class="design"> WangWang Designs </a>©2025</p>
	</div>
</footer>