<header>
    <h1>Luke Wang ITIS 3135</h1>
    <div class="lights topnav">
        <nav>
            <a href="./" target="_blank" >Home</a>
            <a href="introduction.html" target="_blank" >Introduction</a>
            <a href="contract.html" target="_blank" >Contract</a>
        </nav>
    </div>
    <div class="assignments">
        <nav class="midnav">
            <a href="../luckywabbit" target="_blank">Lucky Wabbit</a>
            <a href="hobby/" target="_blank" >Hobby</a>
            <a href="project_overview.html" target="_blank">Project Overview</a>
            <a href="things/IN !dEx.htm" target="_blank">CRAPPY site</a>
            <a href="website_evaluations.html" target="_blank">Website Evaluations</a>
        </nav>
    </div>

</header>